<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3DGameEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3DGameEngineIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3DgameEngineIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1027C1818F53C2300728A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1027C4318F53C2300728A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1027C7018F5504B00728A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1027C8618F5504B00728A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F13D7A7218E95F780034C54C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F196DBAB18F2C7590060479E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F196DBD618F2C75A0060479E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
